/*контейнер для заметки*/
.container {
    background-color: white;
    box-shadow: 0 7px 12px -7px rgba(34, 60, 80, 0.09);
    padding: 5%;
    border-radius: 5px;
    margin: 20px;
}

/*стиль для наименования заметки*/
.name {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Контейнер для кнопок*/
.button_container {
    text-align: center;
    margin-top: 25px;
}

/*Стиль для описания заметки*/
.desc {
    margin: 7px;
}

/*стиль для прогресса выполнения заметки*/
.todo_view_progress {
    width: 100px;
    text-align: center;
    border-radius: 6px;
    color: white;
    padding: 3px;
    margin-bottom: 7px;
}